.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.items-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-4 {
  gap: 1rem !important;
}