.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: var(--neutral-600);
}

.text-primary {
  color: var(--primary-500);
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--error);
}


