.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: var(--neutral-600);
}

.text-primary {
  color: var(--primary-500);
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--error);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}