@use "sass:math";
@use '../abstracts/typography' as t;

// Global Base
html {
  font-size: 16px; // Base for rem if needed, but we use calc/fluid mostly
}

body {
  font-family: var(--font-primary);
  font-size: t.fluid(t.$p-min, t.$p-max);
  line-height: normal;
  color: var(--neutral-800);
  background: var(--neutral-50);
  -webkit-font-smoothing: antialiased;
}

// Header Loop
@for $i from 1 through 6 {

  h#{$i},
  .h#{$i} {
    font-size: t.fluid(t.scale(t.$h1-min, $i), t.scale(t.$h1-max, $i));
    margin-top: 0;
    margin-bottom: t.fluid(t.scale(t.$h1-space-min, $i), t.scale(t.$h1-space-max, $i));
    line-height: 1.25;
    font-weight: 700;
    font-family: var(--font-display);
    color: var(--neutral-900);
  }
}

p {
  font-size: t.fluid(t.$p-min, t.$p-max);
  margin-top: 0;
  margin-bottom: 1rem;
}

small,
.text-xs {
  font-size: t.fluid(t.$small-min, t.$small-max);
  line-height: 1.4;
}

strong,
b {
  font-weight: 700;
}