@use '../abstracts/variables' as *;

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    background: white;
    color: $text-dark;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $font-display;
}